.receipt {
  display: flex;
  flex-direction: column;
}

/* Order date */
.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.date h3 {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin: 0 0;
}
.date span {
  color: var(--complementary-color);
  font-size: 1.1rem;
}

/* Cart items ordered */
.receiptItems {
  max-height: 45vh;
  overflow: scroll;
}
.receiptItems ul {
  list-style: none;
  padding-left: 0.5rem;
}

/* Total items and total price */
.summary{
  display: flex;
  flex-direction: column;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 0.5rem;
}

.summaryAdmin {
  display: flex;
  flex-direction: column;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-right: 0.5rem;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.name h3 {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.name span {
  color: var(--complementary-color);
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.phoneNumber {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1rem;
}
.phoneNumber h3 {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin: 0 0;
}
.phoneNumber span {
  color: var(--complementary-color);
  font-size: 1.2rem;
}

.summary h3{
  margin: 0.5rem 0;
  color: var(--primary-color);
}
/* If we are showing the receipt items then show a divider */
.divider {
  border-top: 2px solid var(--complementary-color);
}
.totalItems, .totalPrice, .status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.totalItems span {
  color: var(--complementary-color);
}
.price {
  color: var(--price-color);
}

.status {
  text-align: center;
}

.finished {
  background-color: var(--button-color);
  border: 1px solid var(--complementary-darkest);
  color: white;
}

.actions {
  flex-direction: row;
  justify-content: flex-end;
}
.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}
.actions button:hover,
.actions button:active {
  background-color: var(--button-color-active);
  border-color: var(--complementary-dark);
  color: white;
}

.actions button:disabled {
  background-color: gray;
  border-color: black;
  color: white;
  cursor: default;
}

.receiptFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}